@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;700&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Fraunces', serif; 
}

h1 {
    font-size: 3rem; 
    font-weight: 300;
    color: #000000; 
    letter-spacing: -0.08em;
    line-height: 1.2em;
}

.NoScroll{
    height: 100%;
    overflow: hidden;
}

.MainTitle{
    margin-top: 20rem;
    margin-left: 10%;
    margin-bottom: 0;
    margin-right: 10%;
}

.AboutPage{
    margin-top: 10%;
    margin-left: 10%
}

.Highlight {
    color: #999999;
}

.Navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    display: inline;
}

.NoUnderline{
    text-decoration: none;
    color: #000000; 
}

.NoUnderline:hover {
    text-decoration: underline;
    color: #000000; 
}


a:visited {
    text-decoration: none;
    color: #000000; 
}
